# Ignore everything
*
# Allow list
!components/
!games/
!i18n/
!pages/
!public/
!jsconfig.json
!LICENSE
!next.config.js
!package-lock.json
!package.json
!postcss.config.js
!styles.css
!tailwind.config.js
!backend/server.js
!backend/load-game.js
!utils/
