# Ignore everything
*
# Allow list
!src/components/
!games/
!i18n/
!src/pages/
!src/public/
!jsconfig.json
!tsconfig.json
!LICENSE
!next.config.js
!package-lock.json
!package.json
!postcss.config.js
!src/global.css
!tailwind.config.js
!backend/server.js
!backend/load-game.js
!src/lib/
!.env
!docker/frontend-start.sh
