.next/
node_modules/
.eslintcache
public/rooms/**/*.jpeg
public/rooms/**/*.png
public/rooms/**/*.gif
.venv/
backend/tmp/
backend/public/
backend/Cold-Friendly-Feud
backend/famf.db
test-results/
backend/.cache/