{
    "printWidth": 120, 
    "useTabs": false,
    "tabWidth": 2, 
    "trailingComma": "es5", 
    "semi": true, 
    "singleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always", 
    "jsxSingleQuote": false, 
    "bracketSameLine": false, 
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-tailwindcss", "@ianvs/prettier-plugin-sort-imports"]
}